<!DOCTYPE html>
<html>
<head>
  <title>ColaeleitoralWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <link href="/css/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
  
</head>
<body>

<%= yield %>

<script src="/js/plugins/bootstrap/bootstrap.min.js"></script>

</body>
</html>
